{% extends "base.html" %}
{% load static %}





{% block content %}
<div class="hero-image1">
	<div class="hero-text">
    <h1> Shopping Bag</h1>
	</div>
</div>
<div class="wrapper">
<div class="row">
<div class="col">
{% if basket_item %}
<div class="table-responsive">
  <table class="table">
    ...
  </table>
</div>
{% else %}
<div class="text-center mt-3">
<h1 class="">Looks like your Basket is empty</h1>
<a href="{% url 'products' %}" class=""><button type="button" class="btn btn-warning btn-lg home-button shadow-lg text-center">Continue Shopping!</button></a>
</div>

{% endif %}
</div></div>
</div>
{% endblock %}