{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}

  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>

{% endfor %}
{% endif %}
<ul class="list-unstyled">
{% if provider.name == 'Google'%}
<li><a href="{% provider_login_url 'google' %}" class="btn btn-primary mb-3"><i class="fab fa-google"></i> Login with Google</a></li>
{% else %}
 <li> <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}} fb-bg btn btn-primary mb-3" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><i class="fab fa-facebook-f"></i> Login with {{provider.name}}</a></li>
{% endif %}
</ul>
{% endfor %}
