{% extends 'base.html' %} {% load static %} {% block content %}
<div class="bg">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col"></div>
      <div class="col col-md-6 my-auto welcome">
        <h1 class="display-4 welcome-head">
          Welcome to Daily Comic
        </h1>
        <div class="my-5">
          <h4>
            <a
              href="{% url 'products' %}"
              class="btn btn-warning btn-lg home-button shadow-lg"
              >Excelsior!</a
            >
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
