{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}
{% block content %}
    <div class="hero-image1">
	<div class="hero-text">
    <h1>Profile</h1>
	</div>
</div>
<div class="container warpper">
	<div class="row mb-4">
		<div class="col-12 col-lg-6 mt-4">
			<p class="product-title">Default Delivery Information</p>
			<form class="mt-3 product-text" action="{% url 'theprofile' %}" method="POST" id="profile-update-form">
				{% csrf_token %}
				{{ form|crispy }}
				<button class="btn btn-warning produtPageButton float-right">Update Information</button>
			</form>
		</div>
		<div class="col-12 col-lg-6 mt-4 mb-4">
			<p class="product-title">Order History</p>
			<div class="order-history table-responsive">
				<table class="table table-sm table-borderless">
					<thead class="product-title table-head">
						<tr>
							<th>Order Number</th>
							<th>Date</th>
							<th>Items</th>
							<th>Order Total</th>
						</tr>
					</thead>
					<tbody>
				 {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href=""
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {% if item.product.has_sizes %}
                                                        Size {{ item.product.size|upper }}
                                                    {% endif %}{{ item.product.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>${{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
</div>
</div>

   
{% endblock %}
