@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Playfair+Display&display=swap');

/* general styling */
html {
    height: 100%;
}

body, html {
  height: 100%;
  margin: 0;
}

h1{
    font-family: 'Bangers';
    font-size: 80px;
}

/* navbar styling */

.navbar-dark .navbar-nav .nav-link {
    color: #ffff;
    padding-right: 3rem !important;
    padding-left: 3rem !important;
    font-family: 'Playfair';
    font-size: 20px;
    text-align: right;
    
}

.bg-dark{
    background-color: #081B19 !important;
}
.navbar-brand{
    font-family: 'Bangers';
    font-size: 40px;
    padding-right: 40px;
    padding-left: 30px;
}

.dropdown-item{
    font-family: 'Playfair';
    font-size: 20px;
}

.search{
    margin-left: 30rem;
}

.shopping{
    font-size: 30px;
    color: white;
    padding-right: 40px;
}


.wrapper {
  
  min-height: 60vh;
  
}

/* footer styling */

footer {
    background-color: #081B19;
    min-height: 120px;
    width: -webkit-fill-available;
    
    
}

#footer-details{
    padding: 20px;
}

.social-buttons{
    margin: 20px;
    font-size: 40px;
    width: 20%;
    border-radius: 60%;
    color: #fff;
}

.fb-bg{
    background-color:  #3b5998;
}

.pin-bg{
    background-color:  #c8232c;
   
}

.insta-bg{
    background-color: #3f729b;
}

.footer-links{
    color: #fff !important;
      font-family: 'Playfair';
}

.card-image{
    max-width: 70%;
}

a.text-white{
     color: #fff !important;
    
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* home styling */

.welcome-head {
    color: #ffff;
    font-family: 'Bangers';
}
/*recied from w3 schools */
.bg {
  /* The image used */
  background-image: url("/media/batman.jpg");
    
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* main heading styling */
.hero-image1 {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/media/street.jpg");

  /* Set a specific height */
  height: 40%;
    background-color: black;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



.home-button {
    font-size: 40px;
    color: #ffff;
    border-radius: 20px;
    font-family: 'PlayFair';
}


/* product page styling */

.product-text{
     font-family: 'Playfair';
    font-size: 20px;
}


.product-title{
   font-family: 'Bangers';
    font-size: 25px;
    color: black !important;
}

.produtPageButton{
     color: #ffff !important;
    border-radius: 20px;
    font-family: 'Bangers';
    font-size: 20px;
    cursor: pointer;
}

.product-image{
  max-width: 70%;
}

.review-image{
   /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/media/alleyway.jpg");

  /* Set a specific height */
  height: 40%;
    background-color: black;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* basket styling */

.bag-text{
    font-family: 'Playfair';
    font-size: 40px;

}

.basket-image{
     width: 250px;
     height: 300px;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
}


@media only screen and (max-width: 1024px) {
  .bg {
  background-image: url("/media/street.jpg");
  
  }
  .welcome{
      padding-right: 100px;
  }

  .search{
    margin-left: 0;
}
  h1{
      font-size: 40px;
  }

  .social-buttons{
    font-size: 20px;
    width: auto;
  }

  .bask-title{
      font-size: 20px;
  }

  .basket-image{
      height: 200px;
      width:150px;
  }
}