{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	{% block meta %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% endblock %}
	{% block core_cs %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	{% endblock %}

	{% block extra_css %}
	{% endblock %}

	{% block corejs %}
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
	</script>
	<script src="https://kit.fontawesome.com/90ee600770.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
	</script>
    <script src="https://js.stripe.com/v3/"></script>
	{% endblock %}

	{% block extra_js %}
	{% endblock %}

	<title>Daily Comic</title>
</head>

<body>
<div class="bg-dark text-center">
	<a class="navbar-brand ml-3" href="{% url 'products' %}">
    <span class="card-heading">Daily Comic </span>
  </a>
  
</div>
<nav class="navbar navbar-expand-xl navbar-dark bg-dark ">
  <!-- One of the primary actions on mobile is to call a business - This displays a phone button on mobile only -->
  <div class="navbar-toggler-right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
  </div>




  <div class="collapse navbar-collapse flex-column " id="navbar">
    

    <ul class="navbar-nav justify-content-center w-100 bg-secondary px-3 bg-dark">
       <li class="nav-item">
					<a class="nav-link" href="{% url 'products' %}">All Products</a>
				</li>
				<li class="nav-item dropdown ">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
						data-toggle="dropdown" aria-haspopup="true">
						Books
					</a>
					<div class="dropdown-menu " aria-labelledby="navbarDropdown">
						<div class="dropdown-divider"></div>
						<h6 class="text-center product-title">Category</h6>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{% url 'products' %}?category=Graphic_Novels">Graphic Novels</a>
						<a class="dropdown-item" href="{% url 'products' %}?category=Comics">Comics</a>
						<div class="dropdown-divider"></div>


						<div class="dropdown-divider"></div>
						<h6 class="text-center product-title">Universe</h6>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item"
							href="{% url 'products' %}?qset=DC&category=Graphic_Novels,Comics">DC</a>
						<a class="dropdown-item"
							href="{% url 'products' %}?qset=Marvel&category=Graphic_Novels,Comics">Marvel</a>
						<div class="dropdown-divider"></div>


						<h6 class="text-center product-title">Hero</h6>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item"
							href="{% url 'products' %}?qset=Spider&category=Graphic_Novels,Comics">Spider-Man</a>
						<a class="dropdown-item"
							href="{% url 'products' %}?qset=Venom&category=Graphic_Novels,Comics">Venom</a>
						<a class="dropdown-item"
							href="{% url 'products' %}?qset=superman&category=Graphic_Novels,Comics">Superman</a>
						<a class="dropdown-item"
							href="{% url 'products' %}?qset=batman&category=Graphic_Novels,Comics">Batman</a>

					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'products' %}?category=Toys">Toys</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'products' %}?category=Merchandise">Merch</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'products' %}?category=Subscriptions">Subscriptions</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Profile
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown1">
						{% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                                    <a href="{% url 'add_a_product' %}" class="dropdown-item">Product Management</a>
                                {% endif %}
						<a class="dropdown-item" href="{% url 'theprofile' %}">Profile</a>
						<a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a>
						{% else %}
						<a class="dropdown-item" href="{% url 'account_login' %}">Sign In</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
						{% endif %}
                    </div>
                    
				</li>
    </ul>
   
   
   
<li class="list-inline-item">
    <a class="{% if grand_total %}text-warning{% endif %} nav-link d-block " href="{% url 'see_the_basket' %}">
        <div class="text-center product-text">
            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
            <p class="my-0">
                {% if grand_total %}
                    £{{ grand_total|floatformat:2 }}
                {% else %}
                    £0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>
 <li class="list-inline-item">
    <a class="text-black nav-link d-block " href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
            <p class="my-0">Search</p>
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0 product-text" type="text" name="q" placeholder="Search our site">
                <div class="input-group-append">
                    <button class="form-control btn-warning produtPageButton rounded-0" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
   </div>
</nav>


	{% if messages %}
	<div class="message-container">
    {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
    </div>
	{% endif %}

	{% block page_header %}
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block postloadjs %}
    <script type="text/javascript">
    $('.toast').toast('show');
    </script>
	{% endblock %}
	<!-------footer-->
	<footer>
		<div class="row container-fluid">
			<div class="col ">
				<a href="https://facebook.com/" target="_blank" class="btn  social-buttons fb-bg">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="https://instagram.com/" target="_blank" class="btn  social-buttons insta-bg">
					<i class="fab fa-instagram"></i>
				</a>
				<a href="https://pinterest.com/" target="_blank" class="btn  social-buttons pin-bg">
					<i class="fab fa-pinterest-p"></i>
				</a>
			</div>
			<div class="col mt-2">
				<h5 class="footer-links"> Useful links</h5>
				<ul class="list-unstyled footer-links text-decoration-none">
					{% if request.user.is_authenticated %}
					<li><a class=" text-white " href="#">Profile</a></li>
					<li><a class=" text-white " href="{% url 'account_logout' %}">Sign Out</a></li>
					{% else %}
					<li><a class=" text-white " href="{% url 'account_login' %}">Sign In</a></li>
					<li><a class=" text-white " href="{% url 'account_signup' %}">Register</a></li>
					{% endif %}
					<li><a class=" text-white " href="{% url 'products' %}">All Products</a></li>
					<li><a class=" text-white " href="{% url 'products' %}?category=Subscriptions">Subscriptions</a></li>
					<li><a class=" text-white " href="{% url 'products' %}?category=Merchandise">Merch</a></li>
					<li><a class=" text-white " href="{% url 'products' %}?category=Toys">Toys</a></li>
					<li><a class=" text-white " href="{% url 'products' %}?category=Graphic_Novels,Comics">Graphic
							Novels</a></li>
				</ul>
			</div>
			<div class="col">
				<h5 class="footer-links mt-2">We Accept All Major Cards</h5>
				<img class="img-thumbnail  card-image " src="https://tse1.mm.bing.net/th?id=OIP.YxidPchnBgDrWxiXqKWPFwAAAA&pid=Api&P=0&w=300&h=47" alt="">
			</div>
			</div>
	</footer>
</body>

</html>