{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	{% block meta %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% endblock %}
	{% block core_cs %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	{% endblock %}

	{% block extra_css %}
	{% endblock %}

	{% block corejs %}
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
	</script>
	<script src="https://kit.fontawesome.com/90ee600770.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
	</script>
	{% endblock %}

	{% block extra_js %}
	{% endblock %}

	<title>Daily Comic</title>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
		<a class="navbar-brand" href="{% url 'home' %}">Daily Comic</a>

			
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

		<div class="collapse navbar-collapse " id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto justify-content-center">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						All Products
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">By Price</a>
						<a class="dropdown-item" href="#">By Rating</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">All Products</a>
					</div>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">Graphic Novels</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Toys</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Merch</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Subscriptions</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Profile
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown1">
						{% if request.user.is_authenticated %}
						<a class="dropdown-item" href="#">Profile</a>
						<a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a>
						{% else %}
						<a class="dropdown-item" href="{% url 'account_login' %}">Sign In</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
						{% endif %}
					</div>
				</li>
			
			</ul>
		</div>
     <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                            <div class="text-center shopping">
                                <div><i class="fas fa-shopping-cart "></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
	</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
 <div class="col-12 col-lg-4 my-auto py-1 py-lg-0  search">
                <form method="GET" action="">
                    <div class="input-group w-100">
                        <input class="form-control  rounded-4" type="text" name="query" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-warning  border  rounded-4 " type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
</nav>

	{% if messages %}
	<div class="message-container"></div>
	{% endif %}

	{% block page_header %}
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block postloadjs %}
	{% endblock %}

</body>

</html>